/* CSS code for dark theme with updated table style */

body {
  margin: 0;
  background-color:#212F3D;
  color: #ddd;
}

div.all {
  font-family: Arial;
}

.navBar {
  display: block;
  overflow: auto;
  position: fixed;
  width: 15%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #2C3E50 ;
}

.navBar a {
  background-color:#2C3E50;
  padding: 8px 16px;
  margin-top: 0px;
  color: #ddd;
  text-decoration: none;
  display: block;
}

.navBar a:hover:not(.active) {
  background-color: #2ECC71;
  padding: 8px 16px;
  color: #fff;
  text-decoration: none;
}

.navBar a.active {
  background-color: #16A085  ;
}

.navBar p {
  color: #fff;
  padding: 8px 16px;
  background-color: #2ECC71;
  margin: 0px;
  border-bottom: solid #fff 1px;
}

.content {
  margin-left: 15%;
  margin-top: 0px;
  height: 100%;
}

.content h1 {
  color: #ddd;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 200%;
  text-decoration: double;
  padding-left: 5%;
}

.content h2 {
  font-size: 200%;
  padding-left: 5%;
}

.content img.cubeTypes {
  padding-left: 5%;
  width: 55%;
  height: auto;
}

.content p {
  padding-left: 5%;
}

.content ul {
  padding: 5%;
  font-family: 'Times New Roman', Times, serif;
}

.content iframe{
  width:50%;
  margin:0px 25%;
  background-color:white;
}

.content a.nextButton{
  display:block;
  padding:8px 16px;
  color:white;
  background-color:#2ECC71;
  text-decoration:none;
  text-align:center;
  float:right;
  max-width:15%;
  height:auto;
  margin:50px;

}

.content a.nextButton:hover{
  color:white;
  background-color:#16A085 ;
}

.cubeSidesTable {
  margin-left: 5%;
}

.cubeSidesTable table {
  border-collapse: collapse;
  width: 100%;
}

.cubeSidesTable th, .cubeSidesTable td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #888;
}

.cubeSidesTable th {
  font-weight: bold;
}

img.cube {
  align-items: center;
  max-width: 50%;
  height: auto;
  margin-left:25%;
  margin-right:25%;

}

.sidesPara {
  background-color: initial;
}

img.moves{
  width:74%;
  margin:50px 13%;
}

.movesPre{
  padding:8px 16px;
  background-color:#566573;
  margin:8px;
  height:300px;
 
  overflow:auto;
}

.crossPre{
  padding:8px 16px;
  margin:8px;
}

ol.topLayerSteps{
  padding:8px 18px;
  margin:50px;
}

img.cubeCross{
  max-width:20%;
  margin:0px 40%;
  height:auto;
}
img.firstLayer{
  max-width:60%;
  margin-left:10%;
  height:auto;

}

img.cubeFirstLayer{
  width:20%;
  margin:0px 40%;
  height:auto;
}

img.secondLayermaking{
  max-width:40%;
  margin:0px 30%;
  height:auto;
}

p.special{
  font-size:150%;
  color:aqua;
}

img.cubeSecondLayer{
  max-width:40%;
  height:auto;
  margin:0px 30%;
}

p.lineBorder{
  color:transparent;
  border-bottom:solid white 2px;
}